<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ filename }}</title>

		<style type="text/css">

		</style>
	</head>
	<body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{ url_for('static', filename = 'highcharts/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename = 'highcharts/modules/data.js') }}"></script>
<script src="{{ url_for('static', filename = 'highcharts/modules/exporting.js') }}"></script>
<script src="{{ url_for('static', filename = 'highcharts/modules/export-data.js') }}"></script>

<div id="container" style="min-width: 100%; height: 400px; margin: 0 auto"></div>

<pre id="csv" style="display: none">{{ dataString }}</pre>


		<script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    data: {
        // enablePolling: true,
        csv: document.getElementById('csv').innerHTML
    },
    title: {
        text: "{{ filename }}"
    },
    yAxis: {
        title: {
            text: 'Units'
        }
    }
});
	</script>
	</body>
</html>
